[Unit]
Description=OASE_ActionDriverProcess
After=syslog.target network.target mysqld.service

[Service]
EnvironmentFile=/etc/sysconfig/oase_env
EnvironmentFile=/etc/sysconfig/oase_action_env
ExecStart=/bin/sh ${OASE_ROOT_DIR}/backyards/common/ky_loopcall-python-procedure.sh ${PYTHON_MODULE} ${PYTHON_MODULE} ${OASE_ROOT_DIR}/backyards/action_driver/oase_action.py ${OASE_ROOT_DIR}/logs/backyardlogs/oase_action ${RUN_INTERVAL} ${LOG_LEVEL} > /dev/null 2>&1
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target


