### Requirements without Version Specifiers
pika
retry
mod_wsgi
django-crispy-forms
django-filter
requests
ldap3
pycrypto
configparser
fasteners
djangorestframework
django-simple-history
pyyaml
pytz
imapclient


### Requirements with Version Specifiers
mysqlclient==2.0.1
django==3.2.24
openpyxl==2.5.14
xlrd==1.2.0


